@model Mvc.PL.ViewModels.CategoriesPage.CategoriesPageCategoryViewModel

<fieldset>
    <legend>@Model.Name</legend>
    @foreach (var topic in Model.Topics)
    {
        <div class="editor-label">
            @Html.RouteLink(topic.Name, new { controller = "Musicity", action = "Posts", topic = topic.Name })
        </div>
    }
    @if (HttpContext.Current.User.Identity.IsAuthenticated)
    {
        <div id="footer">
            @Html.RouteLink("+ New topic", new { controller = "Musicity", action = "CreateTopic", category = Model.Name }, new { style = "background-color:#333;border:1px solid black;color:White;line-height:4.5em;padding:0.4em 1em;text-decoration:none;" })
        </div>
    }
</fieldset>