@model IEnumerable<Mvc.PL.ViewModels.PostPage.PostPageReplyViewModel>

@foreach (var reply in Model)
{
    <fieldset>
        <legend>By @reply.Writer.Name on @reply.WrittenTime</legend>
        <div class="editor-label">
            @reply.Content
        </div>
    </fieldset>
}