@model Mvc.PL.ViewModels.PostPage.PostPageUserViewModel

<div class="col-md-12">
    @Html.DisplayFor(model => Model.Name)
    Join Date: @Html.DisplayFor(model => Model.JoinDate)
    Location: @Html.DisplayFor(model => Model.Location)
    Online: @Html.DisplayFor(model => Model.IsOnline)
</div>